<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OrderingSystemWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>com.onb.orderingsystem.servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/page1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.onb.orderingsystem.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CreateOrder</display-name>
    <servlet-name>CreateOrder</servlet-name>
    <jsp-file>/createorder.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrder</servlet-name>
    <url-pattern>/create.order</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>HistoryServlet</display-name>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>com.onb.orderingsystem.servlet.HistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/orderhistory</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>History</display-name>
    <servlet-name>History</servlet-name>
    <jsp-file>/history.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/order.history</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ViewOrderServlet</display-name>
    <servlet-name>ViewOrderServlet</servlet-name>
    <servlet-class>com.onb.orderingsystem.servlet.ViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderServlet</servlet-name>
    <url-pattern>/vieworder</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ViewOrder</display-name>
    <servlet-name>ViewOrder</servlet-name>
    <jsp-file>/vieworder.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrder</servlet-name>
    <url-pattern>/view.order</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.onb.orderingsystem.servlet.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/payorder</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>OrderPayment</display-name>
    <servlet-name>OrderPayment</servlet-name>
    <jsp-file>/payment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPayment</servlet-name>
    <url-pattern>/pay.order</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>AddItemServlet</display-name>
    <servlet-name>AddItemServlet</servlet-name>
    <servlet-class>com.onb.orderingsystem.servlet.AddItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemServlet</servlet-name>
    <url-pattern>/AddItemServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>  
</web-app>